* {
    font-family: 'Roboto', sans-serif;
}
h6 {
    margin: 0px;
    padding: 10px;
    font-weight: 400;
    background-color: #1CD1B0;
}
h1 {
    margin: 0px;
    padding: 22px;
    background-color: #00669F ;
    font-weight: 500;
    
}
.title{
    position: sticky;
    top: 0px;
    z-index: 20;
}
.bat1 {
    height: 500px;
    width: 250px;
    position: relative;
    background-color: #F3F3F3;
    margin: 170px 20px ;
    
    
}
.box {
    display: flex;
    justify-content: center;
}

.bg {
    height: 150px;
    width: 250px;
    position: relative; ;
    
}
.icon {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 10px;
    height: 20px ;
}
.circle {
    position: absolute;
    top: 85px;
    left: 62.5px;
    z-index: 15;
    border-radius: 50%;

    
}
p {
    font-size: 13px;
    text-align: center;
    
}
.mas {
    position:absolute;
    background-color: #00669F;
    color: white;
    padding: 15px 20px;
    
}

.txt1 {
    position: absolute;
    text-align: justify;
    top: 190px;
    margin: 10px;
    padding: 5px;
}
.txt3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.txt2 {
    text-align: justify;
}
h2 {
    text-align: center;
}
footer {
    text-align: left;
    background-color: #00669F;
    color: white;
    padding: 20px;
}
